# Server
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/megastore_datahub

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=megastore_datahub

# Redis (optional)
REDIS_URL=redis://localhost:6379

# Data
DATASET_CSV_PATH=./data-set.csv
